<div class="top">
  <div class="top-image" style="background-image: url(/assets/top1.jpg)">
    <h1 class="top-title">歩く習慣を楽しく</h1>
    <h1 class="top-title top-title-bottom">身につけよう</h1>
  </div>

  <div class="about">
    <div class="row">
      <h2 class="text-center">Sampo Logとは？</h2>
      <p class="text-center">
        日々の散歩やウォーキングを簡単に記録できるサイトです。 <br>
        運動が苦手な方も、無理なく続けることができます。
      </p>
    </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-2 text-center">
        <img src="/assets/about1.png">
      </div>
      <div class="col-xs-5 about-text">
        <h3>記録する</h3>
        <p>
          その日歩いた距離、体調、天気、景色など、<br>
          あなたが記録したいことを <br>
          自由に記録することができます。
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 col-xs-offset-3 about-text">
        <h3>ランキング</h3>
        <p>
          歩数のランキングにより、 <br>
          フォローしたユーザーの歩数も <br>
          確認することができます。
        </p>
      </div>
      <div class="col-xs-6">
        <img src="/assets/about2.png">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4 col-xs-offset-2 text-center">
        <img src="/assets/about3.png">
      </div>
      <div class="col-xs-6 about-text">
        <h3>カレンダー</h3>
        <p>
          入力された歩数はカレンダーで<br>
          簡単に確認することができます。 <br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="text-center">さっそく始めよう</h2>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <p class="text-center top-signup-text">
      新規登録ですぐに利用できます。 <br>
      まずは気軽に始めてみませんか？
    </p>
    <%= link_to "いますぐ新規登録", new_user_registration_path, class: "btn btn-success col-xs-offset-3 col-xs-6" %>
    </div>

    <img src="/assets/img.png" class="col-xs-6 top-signup-image">
  </div>
</div>