<div class="row">
	<h2>投稿フォーム</h2>
</div>
<%= form_for (@post) do |f| %>
	<%= render 'form', post: @post, f: f %>
	<div class="row">
		<div class="product-form">
			<%= f.submit "記録する", class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
