// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 詳細ページ
.body-box{
  height: 400px;
  padding: 20px;
  background-color: #faf9f5;
  font-size: 18px;
  overflow: scroll;
}
.steps-box{
	display: inline-block;
	padding: 10px;
	border: #e5e5e5 solid 2px;
	color: #333;
}
table {
  width: 100%;
}
table td {
  word-break : break-all;
}
.trash-btn{
	margin-left: 16px;
}

// 一覧ページ
.post-title{
	font-size: 18px;
	color: #333;
	font-weight: bold;
}

// アイコン
.glyphicon-calendar{
	padding-right: 8px;
	color: #333;
}
.glyphicon-heart{
	padding-left: 16px;
	font-size: 24px;
	color: red;
}
.glyphicon-heart-empty{
	padding-left: 16px;
	font-size: 24px;
	color: #333;
}
.glyphicon-comment{
	padding-left: 16px;
	font-size: 24px;
	color: #BDBDBD;
}
.glyphicon-list{
	padding-right: 8px;
}
.glyphicon-pencil{
	padding-right: 8px;
}
